# Variables
Variables are fundamental elements in programming used to store data that can be referenced and manipulated in a program. In Python, variables are created when you assign a value to them, and they do not need explicit declaration to reserve memory space. The declaration happens automatically when you assign a value to a variable.

### Outline:
- Introduction to variables
- Declaring and Assigning Variables
- Naming Conventions
- Understanding Variable Types
- Type Checking and Conversion
- Dynamic Typing
- Practical Examples and Common Errors

In [1]:
a=100

In [3]:
# Declaring and Assigning Variables

age=32
height=6.1
name="Krish"
is_student=True

# printing the variables

print("age:", age)
print("Height:", height)
print("name:", name)
print("is_student:", is_student)

age: 32
Height: 6.1
name: Krish
is_student: True

In [1]:
# Naming Conventions
# Variable names should be descriptive
# They must start with a letter or an '_' and contains letter, numbers and underscores
# Variables names case sensitive

# Valid Variables names:
first_name="Musharraf"
last_name="Bubere"

In [2]:
# Invalid Variable names
# 2age=30
# first-name="Musharraf"
# @name="Musharraf"

In [4]:
# Case Sensitivity
name="Musharraf"
Name="Bubere"

print(name)
print(Name)

Musharraf
Bubere

In [5]:
# Understanding Varaible Types
# Python is dynamically typed of a variable is determined at runtime
age=25 # int
height=6.1 # float
name="Musharraf" # str
is_student=True # bool

print(type(name))

<class 'str'>

In [6]:
# Type Checking and Conversion

type(height)

float

In [8]:
age=25
print(type(age))

# Type conversion
age_str=str(age)
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

In [10]:
age='25'
print(type(int(age)))

<class 'int'>

In [11]:
name="Musharraf"
int(name)

ValueError: invalid literal for int() with base 10: 'Musharraf'

In [12]:
height=5.11
type(height)

float

In [14]:
float(int(height))

5.0

In [16]:
# Dynamic Typing
# Python allows the type of a variable to change as the program executes
var=10 # int
print(var, type(var))

var="Hello"
print(var, type(var))

var=3.14
print(var, type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

In [19]:
# input

age=int(input("What is the age:"))
print(age, type(age))

25 <class 'int'>

In [20]:
# Simple Calculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("Sum:", sum)
print("Difference:", difference)
print("Product:", product)
print("Quotient:", quotient)

Sum: 26.0
Difference: -16.0
Product: 105.0
Quotient: 0.23809523809523808